#controlerBoard {
    height: 100%;
    width: 100%;
    background-color: rgba(59, 159, 72, 0.95);
    
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: none;
}

.error {
    position: absolute;
    top: 0px;
    text-align: center;
    display: none;
    color: red;
    font-size: 72px;
    font-weight: bold;
}
#boardLine {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}
.blockBox {
    position: absolute;
    z-index: 9000;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    display: none;
}
.card {
    margin: 8% 1%;
    width: 75%;
    height: 70%;
    background-color: white;
    display: inline-flex;
    align-self: center;
}

#connectController {
    left: 50%;
    height: 100%;
    padding: 10px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
}

#connectController > .btn-primary {
    position: absolute;
    bottom: 0px;
    width: 98%;
    background-color: rgba(49, 127, 59, 0.95);
    font-size: 65px;
}

#connectController > p {
    text-align: center;
    font-size: 85px;
    font-weight: bold;
    color: rgba(49, 127, 59, 0.95);
}

.blockBox > p {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -50%;
}

#controlerCode {
    margin-left: 30px;
    padding-bottom: 5px;
    font-size: 100px;
    border: 0px solid white;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    justify-content: center;
    text-align: center;
}

#waiting {
    display: none;
    width: 100px;
    height: 100px;
    background-color: white;
}
.name {
    padding-left: 10px;
    float: left;
    width: 75%;
    height: 10%;
    font-size: 50px;
}
#imgCard {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    float: left;
}
#value{
    float:right;
    width:25%;
    height:15%;
}

#name {
    float: left;
    width: 75%;
    height: 15%;
}

#ability {
    float: left;
    width: 25%;
    height: 20%;
}

#isSpy {
    float: right;
    width: 25%;
    height: 10%;
}

#def {
    position: relative;
    float: left;
    width: 25%;
    margin-right: 1%;
    height: 18%;
}

#def > div {
    position: absolute;
}

#dmg {
    position: relative;
    float: left;
    margin-left: 1%;
    width: 25%;
    height: 18%;
}

    #dmg > div {
        position: absolute;
    }

#created {
    float: left;
    width: 48%;
    text-align: center;
    height: 18%;
}

#attackImg {
    width: 100%;
}

#shieldImg {
    width: 100%;
}

#atackPosition {
    position: absolute;
    top: 5px;
    left: 5px;
    display: none;
}

#defensPosition {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

#opponentMove
{
    display: none;
}

#closeGame {
    display: none;
}