#controlerBoard {
    height: 100%;
    width: 100%;
    background-color: red;
    display: flex;
    display: none;
}

.error {
    position: absolute;
    top: 0px;
    text-align: center;
    display: none;
    color: red;
    font-size: 72px;
    font-weight: bold;
}
.blockBox {
    position: absolute;
    z-index: 9000;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    display: none;
}

.card {
    width: 200px;
    height: 280px;
    background-color: white;
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
    float:left;
}

#connectController {
    left: 50%;
    height: 100%;
    padding: 10px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
}

#connectController > .btn-primary {
    position: absolute;
    bottom: 0px;
    width: 98%;
    background-color: rgba(49, 127, 59, 0.95);
    font-size: 65px;
}

#connectController > p {
    text-align: center;
    margin: 15%;
    font-size: 85px;
    font-weight: bold;
    color: rgba(49, 127, 59, 0.95);
}

.blockBox > p {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: white;
    margin-top: 45%;
}

#controlerCode {
    margin-left: 30px;
    padding-bottom: 5px;
    font-size: 100px;
    border: 0px solid white;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    justify-content: center;
    text-align: center;
}

#waiting {
    display: none;
    width: 100px;
    height: 100px;
    background-color: white;
}

img {
    width: 60%;
}

#value{
    float:right;
    width:25%;
    height:15%;
}

#name {
    float: left;
    width: 75%;
    height: 15%;
}

#ability {
    float: left;
    width: 25%;
    height: 20%;
}

#isSpy {
    float: right;
    width: 25%;
    height: 5%;
}

#created {
    float: left;
    width: 75%;
    height: 5%;
}

#atackPosition {
    position: absolute;
    top: 5px;
    left: 5px;
    display: none;
}

#defensPosition {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

#opponentMove
{
    display: none;
}

#closeGame {
    display: none;
}